$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$base: 14;
$base-size: 14px;

$md: 992px;
$lg: 1200px;
$xl: 1400px;

$bg-color: #fff;
$border-color: #cfcfcf;
$primary-color: #000;
$secondary-color: #8c8c8c;
$inverse-color: #fff;
$accent-color: #3366ff;
$stepper-color: #d5d5d5;

$field-lbl-color: #555770;
$field-color: #8e90a6;
$field-bg-color: #ededf1;
